@CHARSET "utf-8";

#left {
  margin-top:300px;
  float: left;
}

#logo {
  height: 90px;
  background-image: url("images/LOGO_Web_Login_90x180.png");
  background-repeat: no-repeat;
  margin-left: 213px;
}

#title {
  margin-top: 50px;
  margin-left: 213px;
  font-size: 30px;
  color: #2E4358;
}

#login {
  position:relative
  overflow: hidden;
  float: left;
  margin-top: 100px;
  margin-left: 160px;
  height: 370px;
  width: 400px;
}

#login_position {
  margin-top: 20px;
  position: absolute;
  height: 320px;
  width: 400px;
  background-color: #2E4358;
  border-radius: 5px;
}

#userName {
  background-image: url("images/ICN_Usename_20x20.png.png");
  background-repeat: no-repeat;
  background-position: 25px 50%;
  margin-top: 60px;
  margin-left: 50px;
  padding-left: 60px;
  width: 240px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  border: 0px;
  font-size: 14px;
  color: 9D9D9D;
  outline: none;
}

#password {
  background-image: url("images/ICN_Password_20x15.png.png");
  background-repeat: no-repeat;
  background-position: 25px 50%;
  margin-top: 20px;
  margin-left: 50px;
  padding-left: 60px;
  width: 240px;
  height: 35px;
  border-radius: 5px;
  border: 0px;
  font-size: 14px;
  color: 9D9D9D;
  outline: none;
}

#submitOne {
  margin-top: 20px;
  margin-left: 50px; 
  width: 300px;
  height: 35px;
  background-color: #FE9901;
  color: #FFFFFF;
  border-radius: 5px;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
}

#convient {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 10px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: ;
}

#changeImg {
  margin-right: 10px;
  height: 12px;
  width: 12px;
  background-color: #FFFFFF;
  cursor: pointer;
}

#checkbox {
  margin-right: 10px;
}

#forget {
  margin-left: 88px;
  cursor: pointer;
}

#userNameError {
  position: absolute;
  top: 30px;
  left:50px;
  color: #FF0000;
  width: 300px;
  height: 20px;
  background-color: #FCCB9B;
  border-style: solid;
  border-color: #FFFFFF;
  border: 1px;
  text-align: left center;
}

#errorInLine {
  position: absolute;
  top: 28px;
  left:50px;
  color: #FF0000;
  width: 300px;
  height: 20px;
  background-color: #FCCB9B;
  border: 1px solid #FFFFFF;
  text-align: left center;
  font-size: 12px;
  visibility: hidden;
}

.error-message {
  height: 20px;
  display: inline;
  position: relative;
  left: 10px;
  background-image: url("images/ICN_Client_Login_Wrong_20X20.png");
}

#usererr {
  margin-left: 10px;
  position: relative;
  top: 6px;
  visibility: hidden;
}

#passerr {
  margin-left: 10px;
  position: relative;
  top:6px;
  visibility:hidden;
}

#footer {
  position: relative;
  top: 170px;
  clear: both;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid;
  width: 1280px;
  padding-top: 12px;
  color: #2E4358;
}

.login {
  font-size: 24px;
  color: #2E4358;
}