<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper   namespace="com.dao.StudentDao">

<resultMap   id="StudentMap"    type="com.entity.Student">
<result  property="id"   column="id" />
<result  property="name"   column="name" />
<association  property="classes"   javaType="com.entity.Classes">
         <result  property="id"    column="id"/>
         <result  property="class_number"  column="class_number"/>
         <result  property="class_name"  column="class_name"/>
</association>
</resultMap>

<select  parameterType="int"   id="selectStuById"   resultMap="StudentMap">
         select    *   from    stu_tbl  as  s,cla_tbl   as   c   where  s.cid=c.id   and s.id=#{id}    
</select>

<select  parameterType="int"   id="selectStudentByClassId"     resultMap="StudentMap">
         select    *   from    stu_tbl  where   cid=#{id}   
</select>

</mapper>

 
