<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!-- 引入外部文件 -->
<properties  resource="mysql.properties"></properties>

<environments  default="cybatis">
<environment   id="cybatis">
<transactionManager type="JDBC"/>
<dataSource   type="POOLED" >
<property    name="driver"    value="${jdbc.driver}"></property>
<property  name="username"    value="${jdbc.username}"></property>
<property   name="password"    value="${jdbc.password}"></property>
<property    name="url"     value="${jdbc.url}"></property>
</dataSource>
</environment>
</environments>



<mappers>
    <mapper    resource="com/mapper/userMapper.xml"></mapper>
</mappers>
</configuration>
