<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper   namespace="com.dao.CharacterDao">
<insert   id="insertCharacter"   parameterType="character">
          insert     into   character_tbl(user_username,blogtitle,signature)   values(#{user_username},#{blogtitle},#{signature})
</insert>

<select    id="selectCharacter"   parameterType="String"    resultType="character">
           select    *   from   character_tbl  where   user_username=#{user_username}
</select>

<update    id="updateCharacter"    parameterType="character">
           update    character_tbl   set   blogtitle=#{blogtitle}  ,signature=#{signature}
</update>
</mapper>