<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper   namespace="com.dao.ImageDao">

<!--单独搜索个性头像-->
<!--  <if   test="null!=type1">   and   url   like  
        concat('%',#{type1},'%')
        </if> -->
<select  id="selectListImage"  parameterType="map"     resultType="image">
     select    *  from    image_tbl   
     <where>
         <if   test="null!=user_username">   and   user_username =#{user_username}  
         </if>
         <if   test="null!=user_username">   and   url   like 'images' '%'
         </if>
     </where>
       
</select>

<!--改动照片:添加and   url   like 'images' '%';避免查询到私人照片  -->
<select  id="selectCharacterImage"  parameterType="image"     resultType="image">
     select    *  from    image_tbl   where   url=#{url}  and   user_username=#{user_username}
</select>

<select  id="selectAllImage"  parameterType="map"     resultType="image">
     select    *  from    image_tbl   where   user_username=#{user_username}  and   url   like 'images' '%'
</select>

<select  id="selectListImageTwelve"     parameterType="page"  resultType="image">
     select    *  from    image_tbl  where  user_username=#{user_username}  and   url   like 'images' '%' order   by  id  desc  limit  #{start1},5
</select>

<select  id="selectOneImage"    parameterType="String"   resultType="image"   >
     select    *  from     image_tbl      where  url=#{url}
</select>

<insert  id="insertImage"      parameterType="image"  >
     insert   image_tbl (url,user_username)   values(#{url},#{user_username})      
</insert>
<delete id="deleteImage"   parameterType="map">
     delete    from   image_tbl   where   url=#{url}  and  user_username=#{user_username}
</delete>
</mapper>