<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.orm.UserinfoMapper">

<insert  id="insertUserinfo" parameterType="ssm.orm.Userinfo">
insert  into   userinfo(password,age,insertdate)  
values(#{password},#{age},#{insertdate});
</insert>
</mapper>
