<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sqlserver2008" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=oes;Data Source=WT01401\SQLEXPRESS"/>
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehaviorUserService">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8765" />
        </behavior>
        <behavior name="metadataBehaviorQuestionsService">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8766" />
        </behavior>
        <behavior name="metadataBehaviorExamService">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8767" />
        </behavior>
        <behavior name="metadataBehaviorExamRecordService">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8768" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="metadataBehaviorUserService" name="WCF.BAL.UserService">
        <endpoint address="http://localhost:8765/userservice" binding="basicHttpBinding" contract="WCF.Constracts.IUserService" />
      </service>
      <service behaviorConfiguration="metadataBehaviorQuestionsService" name="WCF.BAL.QuestionsService">
        <endpoint address="http://localhost:8766/questionsservice" binding="basicHttpBinding" contract="WCF.Constracts.IQuestionsService" />
      </service>
      <service behaviorConfiguration="metadataBehaviorExamService" name="WCF.BAL.ExamService">
        <endpoint address="http://localhost:8767/examservice" binding="basicHttpBinding" contract="WCF.Constracts.IExamService" />
      </service>
      <service behaviorConfiguration="metadataBehaviorExamRecordService" name="WCF.BAL.ExamRecordService">
        <endpoint address="http://localhost:8768/examquestionservice" binding="basicHttpBinding" contract="WCF.Constracts.IExamRecordService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>