<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlserver" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=oes;Data Source=WT01401\SQLEXPRESS"/>
  </connectionStrings>
  <appSettings>
    <add key="sqlserver2008" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=oes;Data Source=WT01401\SQLEXPRESS"/>
    <add key="userName" value=""/>
    <add key="password" value=""/>
    <add key="pageSize" value="10"/>
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint address="http://10.254.100.106:8765/userservice" binding="basicHttpBinding" contract="WCF.Constracts.IUserService" name="userservice" />
      <endpoint address="http://10.254.100.106:8766/questionsservice" binding="basicHttpBinding" contract="WCF.Constracts.IQuestionsService" name="questionsservice" />
      <endpoint address="http://10.254.100.106:8767/examservice" binding="basicHttpBinding" contract="WCF.Constracts.IExamService" name="examService" />
      <endpoint address="http://10.254.100.106:8768/examquestionservice" binding="basicHttpBinding" contract="WCF.Constracts.IExamRecordService" name="examrecordservice" />
    </client>
  </system.serviceModel>
</configuration>