@CHARSET "utf-8";

* {
  padding: 0;
  margin: 0;
}

article, aside, details, figcaption, figure, header, hgroup, menu, nav, section, {
..display: block;
}

body {
  font: 12px/1.55em arial, helvetica, sans-serif;
  background: #FFFFFF;
}

li{
  list-style-type:none;
}

a {
  text-decoration: none;
}