<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
   
   <bean    id="ddi"   class="com.dao.impl.DoDbImpl"></bean>
   <bean    id="add"    class="com.dao.impl.Add"></bean>
   
     
   <aop:config>
    <aop:pointcut   id="pointBefore" expression="execution(* com.dao.impl.DoDbImpl.*(..))" />
    <!--注意：execution的*与com中间间隔了一个空格  -->
   <aop:aspect   ref="add">
   <aop:before      pointcut-ref="pointBefore"   method="before"  />
   </aop:aspect>
   </aop:config>
   
   
   <aop:config>
   <aop:aspect        ref="add">
   <aop:pointcut  expression="execution(* com.dao.impl.DoDbImpl.doDelete(..))"    id="pointAfter"/>
   <aop:after  pointcut-ref="pointAfter"   method="after"   />
   </aop:aspect>
   </aop:config>


   <aop:config>
   <aop:aspect   ref="add">
   <aop:pointcut expression="execution(* com.dao.impl.DoDbImpl.doDelete(..))" id="pointAround"/>
   <aop:around method="around"    pointcut-ref="pointAround"/>
   </aop:aspect>
   </aop:config>

    
</beans>