<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper   namespace="com.dao.MaterialDao">
<resultMap   id="materialMap"     type="com.entity.Material">
<result   property="id"    column="id"/>
<result   property="name"    column="name"/>
<collection   property="list"    column="id"   javaType="ArrayList"  ofType="com.entity.Greens" select="com.dao.GreensDao.selectGreensByMaterialId"   fetchType="lazy">
<result property="id"   column="id"/>
<result property="name"  column="name" />
</collection>
</resultMap>


<select   id="getMaterialById"   parameterType="int"   resultMap="materialMap">
     select    m.*   from    mat_tbl as  m  where   m.id=#{id}  
</select>

<!-- 注意使用别名 -->
<select   id="selectMaterialByGreensId"   parameterType="int"   resultType="com.entity.Material"  >
      select    m.*    from   mat_tbl as  m  where   m.id  IN(
       select    c.m_id  from   coo_tbl  as  c where   c.g_id=#{id}  )
</select>

</mapper>