<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper   namespace="com.dao.CommentDao">


<insert  id="insertArticleComment"    parameterType="comment">
     insert    into   comment_tbl(content,username,article_id,user_nickname)    values(#{content},#{username},#{article_id},#{user_nickname})
</insert>

<select id="selectListComment"   parameterType="comment"   resultType="comment">
        select   *  from   comment_tbl   
        <where>
         <if test="article_id!=null">
            and    article_id=#{article_id}
         </if>
        </where>
</select>

<select id="selectListCommentByArticleId"   parameterType="int"   resultType="comment">
        select   *  from   comment_tbl   where  article_id=#{id}
</select>

<delete id="deleteComment"  parameterType="comment">
	delete from comment_tbl 
	<where>
	<if test="null!=article_id">and  article_id=#{article_id}</if>
	</where> 							

</delete>

</mapper>
