<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper   namespace="com.dao.KindArticleDao">

<insert  id="insertKindArticle"   parameterType="kindArticle">
   insert   kindArticle(kind_name,user_username)     values(#{kind_name},#{user_username})  
</insert>

<select id="selectListKindArticle"   parameterType="kindArticle"  resultType="kindArticle">
  select   *  from    kindArticle   where   user_username=#{user_username}
</select>

<select id=" selectOneKindArticle"  parameterType="kindArticle"  resultType="kindArticle">
   
</select>
</mapper>